//Font
$font-stack: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$main-fontsize: 1.6rem;

//Färgschema
$primary-bg2: #29465b;
$primary-bg1: #c3d6e4;
$darkblue: #0f1921;
$black: #000000;