//Font
$font-stack: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$main-fontsize: 1.6rem;

//Färgschema
$primary-bg: #f4e6fb;
$darkpink: #b44de0;
$bg-complement: complement(#f4e6fb);
$darkpink-complement: complement(#b44de0);
$black: #000000;
$primary-shadow: 0px 0px 5px black;